
set showmode
set visualbell
set incsearch
set so=20

" ,p to replace currect word with whatever is in register
let leader=","
nnoremap ,p ciw<c-s>0<esc>
nnoremap <enter> r<enter>

map ,s :action Switcher<CR>
map ,a :action SearchEverywhere<CR>
map ,b :action Git.Branches<CR>
map ,c :action CheckinProject<CR>
map ,r :action ChangesView.Revert<CR>

